#page-landing {
  padding: 20px;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(329.54deg, #2986d1 0%, #00c7c7 100%);

  display: flex;
  justify-content: center;
  align-items: center;
}

#page-landing .content-wrapper {
  position: relative;
  width: 100%;
  max-width: 1100px;

  height: 100%;
  max-height: 680px;

  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;

  background: url('../../images/landing.svg') no-repeat 80% center;
  background-size: 40%;
  background-position-x: 90%;
}

#header {
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr 4fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'logo location signin signin signin signin';

  align-items: center;
}

#header .location {
  font-size: 1.3rem;
  line-height: 34px;

  display: flex;
  flex-direction: column;

  text-align: right;

  animation: down 500ms backwards;
  grid-area: location;
}

#header img {
  grid-area: logo;
}

#header .btn-signin {
  width: 222px;
  height: 56px;
  background: #12d4e0;
  font-size: 1.1rem;
  color: #fff;
  grid-area: signin;
  border-radius: 20px;

  justify-self: end;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.2s;
}

#header .btn-signin:hover {
  background: #96feff;
  color: #15c3d6;
}

.content-wrapper main {
  max-width: 350px;
  animation: down 500ms backwards;
}
.content-wrapper main h1 {
  font-size: 5rem;
  font-weight: 900;
  line-height: 70px;
}

.content-wrapper main p {
  margin-top: 40px;
  font-size: 1.5rem;
  line-height: 34px;
}

.content-wrapper strong {
  font-weight: 800;
}

.content-wrapper .enter-app {
  position: absolute;
  right: 0;
  bottom: 0;

  width: 80px;
  height: 80px;
  background: #ffd666;
  border-radius: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 0.2s;

  animation: toRight 500ms backwards;
}

.content-wrapper .enter-app:hover {
  background: #96feff;
}

@keyframes down {
  from {
    opacity: 0;
    transform: translateY(-20%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes toRight {
  from {
    opacity: 0;
    transform: translateX(-35%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@media (max-width: 700px) {
  #page-landing {
    padding: 10px;
    align-items: baseline;
  }

  #page-landing .content-wrapper {
    max-height: 650px;

    background-size: 50%;
    background-position-y: 20%;
  }

  #header {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 5px;
    grid-template-areas: 'logo  signin' 'location location';
  }

  #header img {
    width: 200px;
  }

  #header .location {
    justify-self: start;
    margin-left: 20px;
    line-height: 22px;

    display: flex;
    flex-direction: column;
  }

  #header .btn-signin {
    display: none;
  }

  #header .btn-signin.icon {
    width: 80px;
    background: #12d4e0;
    border-radius: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  #header .btn-signin.icon:hover {
    background: #96feff;
  }

  .content-wrapper main {
    max-width: 280px;
    margin-left: 5px;
    padding-bottom: 30px;
  }

  .content-wrapper main h1 {
    font-size: 4rem;
    font-weight: 800;
    line-height: 50px;
  }
  .content-wrapper main p {
    width: 255px;
  }

  .content-wrapper .enter-app {
    right: 10px;
  }
}

@media (max-width: 340px) {
  .content-wrapper .enter-app {
    width: 50px;
    height: 50px;

    right: 10px;
    bottom: 10px;
  }
}
