#page-map {
  width: 100vw;
  height: 100vh;

  position: relative;
  display: flex;
}

#page-map aside {
  width: 400px;
  background: linear-gradient(329.54deg, #2986d1 0%, #00c7c7 100%);
  padding: 60px;

  display: flex;
  flex-direction: column;

  justify-content: space-between;
}

#page-map aside h2 {
  font-size: 40px;
  font-weight: 800;
  line-height: 42px;
  margin-top: 64px;

  animation: down 500ms backwards;
}

#page-map aside p {
  line-height: 28px;
  margin-top: 24px;

  animation: down 500ms backwards;
}

#page-map aside footer {
  display: flex;
  flex-direction: column;

  line-height: 24px;

  animation: down 500ms backwards;
}

#page-map aside footer strong {
  font-weight: 800;
}

#page-map .leaflet-container {
  z-index: 5;
}

#page-map .create-orphanage {
  position: absolute;
  right: 40px;
  bottom: 40px;

  z-index: 10;

  width: 64px;
  height: 64px;
  background: #15c3d6;
  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s;

  animation: toRight 500ms backwards;
}

#page-map .create-orphanage:hover {
  background: #17d6eb;
}

@keyframes down {
  from {
    opacity: 0;
    transform: translateY(-20%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes toRight {
  from {
    opacity: 0;
    transform: translateX(-35%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
