#page-sign-in {
  height: 100vh;
  display: flex;
  overflow: hidden;
}

#page-sign-in main {
  flex: 1;
}

form.sign-in-form {
  width: 75vw;
  margin: 64px auto;

  background: #ffffff;
  border: 1px solid #d3e2e5;
  border-radius: 20px;
  padding: 35px;
  overflow: hidden;
}

form.sign-in-form fieldset {
  border: 0;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

form.sign-in-form fieldset + fieldset {
  margin-top: 80px;
}

form.sign-in-form fieldset .legend {
  width: 100%;
  display: flex;

  justify-content: center;
  align-items: center;
}

form.sign-in-form fieldset h1 {
  font-size: 2rem;
  line-height: 34px;
  color: #5c8599;
  font-weight: 700;

  border-bottom: 1px solid #d3e2e5;
  margin-bottom: 40px;
  padding-bottom: 24px;
}

/* Inputs Block */
form.sign-in-form .input-block {
  width: 285px;
  position: relative;
}

form.sign-in-form .input-block + .input-block {
  margin-top: 24px;
}

form.sign-in-form .input-block label {
  font-size: 1.1rem;
  display: flex;
  color: #8fa7b3;
  margin-bottom: 8px;
  line-height: 24px;
}

/* Input */

form.sign-in-form .input-block input {
  width: 100%;
  height: 50px;
  padding: 0 40px;
  background: #f5f8fa;
  border: 1px solid #d3e2e5;
  border-radius: 20px;
  outline: none;
  font-size: 1.02rem;
  color: #5c8599;

  transition: 0.2s;
}

form.sign-in-form .input-block input:hover {
  background: #edeff0;
  border: 1px solid #d3e2e5;
  color: #5c8599;
}

form.sign-in-form .input-block input:focus {
  border: 1px solid #797979;
}

form.sign-in-form .input-block .icon {
  position: absolute;
  top: 46px;
  left: 10px;
}

/* Access Button */
form.sign-in-form button.access-button {
  margin-top: 64px;

  width: 285px;
  height: 64px;
  border: 0;
  cursor: pointer;
  background: #3cdc8c;
  border-radius: 20px;
  color: #ffffff;
  font-weight: 800;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 0.2s;
}

form.sign-in-form button.access-button:hover {
  background: #36cf82;
}

form.sign-in-form .forget_passowrd-area {
  width: 285px;
  margin-top: 10px;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

form.sign-in-form .forget_password {
  color: #797979;
  font-size: 0.9rem;
}

form.sign-in-form .register {
  font-size: 0.9rem;
  margin-top: 10px;
  color: #797979;
}

form.sign-in-form .register:hover {
  text-decoration: underline;
}

@media (max-width: 740px) {
  .app-sidebar {
    display: none;
  }

  form.sign-in-form .input-block {
    width: 58vw;
  }

  form.sign-in-form .forget_passowrd-area {
    width: 58vw;
  }

  form.sign-in-form button.access-button {
    width: 58vw;
  }
}
